body {
  background-color: grey;
}

.container{
  display: flex;
}

.container img {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  padding-top: 20px;
}

.container h1 {
  text-align: center;
  padding-top: 280;
}

.container button {
  padding-left: 60px;
}

.aboutme{
  display: flex
}

.aboutMePic {
  border-radius: 50%;
  width: 40%;
  height: 50%;
  padding-top: 4px;
}

.infoContainer{
  display: flex;
  flex-direction: column;
}
