body {
  background-color: grey;
}

.container{
  display: flex;
}

.container img {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  padding-top: 20px;
}

.container h1 {
  text-align: center;
}
