
#nav {
  background: rgba(0, 0, 0, .3);
  height: 50px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
}

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
  }

  a{
    color: #fdfdfd;
    text-decoration: none;
    display: block;
    min-width: 140px;
    height: 50px;
    line-height: 50px;
  }

  a:hover {
    border-bottom: 4px solid;
    border-color: #0067f561;
  }
